.wrapper {
    background-color: #4a6ee0;
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    padding: 15px 0 35px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 70px;
        height: auto;
    }

    .content {
        background-color: #fff;
        padding: 25px 25px;
        border-radius: 10px;
        width: 100%;
        height: auto;
        max-width: 500px;
        min-width: 200px;

        header {
            text-align: center;
        }

        footer {
            padding-top: 15px;
            text-align: center;
        }
    }
}

@media screen and (max-width: 720px) {
    .wrapper {
        padding-right: 10px;
        padding-left: 10px;

        img {
            width: 50px;
        }

        .content {
            margin: 10px 10px;
        }
    }
}