// body {
//     margin: 0;
//     padding: 0;
//     height: 100vh !important;
// }

.wrapper {
    background-color: #4a6ee0;
    height: 100%;
    width: 100%;
    height: 100vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 70px;
        height: auto;
    }

    .content {
        background-color: #fff;
        padding: 30px 25px;
        border-radius: 10px;
        width: 100%;
        max-width: 500px;
        min-width: 200px;

        header {
            text-align: center;
        }

        footer {
            padding-top: 10px;
            text-align: center;
        }
    }
}

@media screen and (max-width: 720px) {
    .wrapper {
        padding-right: 10px;
        padding-left: 10px;

        img {
            width: 50px;
        }

        // .content {
        //     padding-right: 0;
        //     padding-left: 0;
        //     margin: 0 10px;
        // }
    }
}